@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@model System.Data.DataTable;
@using DatabaseDemo.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="border rounded p-5">

    <div class="d-flex justify-content-between align-items-center">

        <h5 class="fw-bold"><i class="bi bi-gear me-2" style="font-size: 20px"></i>COUNTRY LIST</h5>
        <a asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryAddEdit"><button class="btn bg-success text-white py-2"><i class="bi bi-plus-circle me-2"></i>Add Country</button></a>

    </div>

    <hr />

    @*<div class="border border-dark rounded ps-3 pe-5 py-2 ms-auto w-25 my-3">

    Search here

    </div>*@

    @*<input type="text" placeholder="Search here" class="border border-dark d-block rounded ps-3 pe-5 py-2 ms-auto my-3" />*@

    <div class="w-25 ms-auto my-3">
        <div class="input-group datatables_filter" id="sample_1_filter">
            <div class="input-group-text bg-transparent" style="font-size: 15px"><i class="bi bi-search"></i></div>
            <input type="text" class="form-control input-sm input-small input-inline" id="sample_1" aria-controls="sample_1" placeholder="Search here">
        </div>
    </div>

    <div>

        <table class="table table-striped table-bordered" id="sample_1">
            <thead>
                <tr>
                    <th scope="col">Country Name</th>
                    <th scope="col">Country Code</th>
                    <th scope="col" class="text-center">Created</th>
                    <th scope="col" class="text-center">Modified</th>
                    <th scope="col" class="text-center" colspan="2">Actions</th>
                </tr>   
            </thead>
            <tbody id="sample_2">
                @foreach(DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["CountryCode"]</td>
                        <td class="text-center">@dr["Created"]</td>
                        <td class="text-center">@dr["Modified"]</td>
                        <td class="text-center">

                            <form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="LOC_CountryAddEdit">
                                <input type="hidden" name="CountryID" value="@Convert.ToInt32(@dr["CountryID"])">
                                <button class="btn btn-primary me-2 py-1"><i class="bi bi-pen me-2" style="font-size: 14px"></i>Edit</button>
                            </form>                           
                        </td>
                        <td>
                            <form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="DeleteCountry">
                                <input type="hidden" name="CountryID" value="@Convert.ToInt32(@dr["CountryID"])">
                                <button class="btn btn-danger py-1" onclientclick="return DeleteItem()"><i class="bi bi-trash me-2" style="font-size: 14px"></i>Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

        function DeleteItem() {
            if (confirm("Are you sure you want to delete ...?")) {
                return true;
            }
            return false;
        }
    </script>
}
